body{
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
}

canvas {
    background-color: whitesmoke;
    outline: 10px solid darkgrey;
    cursor: url(../cursors/brush.png) 15 35,auto;
}

.button , .tools {
    display: flex;
    justify-content: space-between;
    padding-left: 25%;
    padding-right: 25%;
    list-style: none;
}

.erase {
    cursor: url(../cursors/eraser.png) 10 10, auto !important;
}